ServiceConfigurator/ServiceConfigurator/Web References/SysproQ/sysproqwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Post2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Xmlin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post2Response">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Post2SoapIn">
    <wsdl:part name="parameters" element="tns:Post2" />
  </wsdl:message>
  <wsdl:message name="Post2SoapOut">
    <wsdl:part name="parameters" element="tns:Post2Response" />
  </wsdl:message>
  <wsdl:portType name="SysproQWebServiceSoap">
    <wsdl:operation name="Post2">
      <wsdl:input message="tns:Post2SoapIn" />
      <wsdl:output message="tns:Post2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SysproQWebServiceSoap" type="tns:SysproQWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post2">
      <soap:operation soapAction="http://tempuri.org/Post2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SysproQWebServiceSoap12" type="tns:SysproQWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post2">
      <soap12:operation soapAction="http://tempuri.org/Post2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SysproQWebService">
    <wsdl:port name="SysproQWebServiceSoap" binding="tns:SysproQWebServiceSoap">
      <soap:address location="http://localhost/sysproqwebapp/sysproqwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SysproQWebServiceSoap12" binding="tns:SysproQWebServiceSoap12">
      <soap12:address location="http://localhost/sysproqwebapp/sysproqwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>