SysproQ.BLL/Service References/SysproTransService/transaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.syspro.com/ns/transaction/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.syspro.com/ns/transaction/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.syspro.com/ns/transaction/">
      <s:element name="Build_With_String">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BusinessObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Build_With_StringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Build_With_StringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Build_With_ByteArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BusinessObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLIn" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Build_With_ByteArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Build_With_ByteArrayResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post_With_String">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BusinessObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLParameters" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post_With_StringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Post_With_StringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post_With_ByteArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BusinessObject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLParameters" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLIn" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Post_With_ByteArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Post_With_ByteArrayResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Build_With_StringSoapIn">
    <wsdl:part name="parameters" element="tns:Build_With_String" />
  </wsdl:message>
  <wsdl:message name="Build_With_StringSoapOut">
    <wsdl:part name="parameters" element="tns:Build_With_StringResponse" />
  </wsdl:message>
  <wsdl:message name="Build_With_ByteArraySoapIn">
    <wsdl:part name="parameters" element="tns:Build_With_ByteArray" />
  </wsdl:message>
  <wsdl:message name="Build_With_ByteArraySoapOut">
    <wsdl:part name="parameters" element="tns:Build_With_ByteArrayResponse" />
  </wsdl:message>
  <wsdl:message name="Post_With_StringSoapIn">
    <wsdl:part name="parameters" element="tns:Post_With_String" />
  </wsdl:message>
  <wsdl:message name="Post_With_StringSoapOut">
    <wsdl:part name="parameters" element="tns:Post_With_StringResponse" />
  </wsdl:message>
  <wsdl:message name="Post_With_ByteArraySoapIn">
    <wsdl:part name="parameters" element="tns:Post_With_ByteArray" />
  </wsdl:message>
  <wsdl:message name="Post_With_ByteArraySoapOut">
    <wsdl:part name="parameters" element="tns:Post_With_ByteArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="transactionclassSoap">
    <wsdl:operation name="Build">
      <wsdl:input name="Build_With_String" message="tns:Build_With_StringSoapIn" />
      <wsdl:output name="Build_With_String" message="tns:Build_With_StringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildW">
      <wsdl:input name="Build_With_ByteArray" message="tns:Build_With_ByteArraySoapIn" />
      <wsdl:output name="Build_With_ByteArray" message="tns:Build_With_ByteArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input name="Post_With_String" message="tns:Post_With_StringSoapIn" />
      <wsdl:output name="Post_With_String" message="tns:Post_With_StringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostW">
      <wsdl:input name="Post_With_ByteArray" message="tns:Post_With_ByteArraySoapIn" />
      <wsdl:output name="Post_With_ByteArray" message="tns:Post_With_ByteArraySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="transactionclassSoap" type="tns:transactionclassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Build">
      <soap:operation soapAction="http://www.syspro.com/ns/transaction/Build_With_String" style="document" />
      <wsdl:input name="Build_With_String">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Build_With_String">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildW">
      <soap:operation soapAction="http://www.syspro.com/ns/transaction/Build_With_ByteArray" style="document" />
      <wsdl:input name="Build_With_ByteArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Build_With_ByteArray">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://www.syspro.com/ns/transaction/Post_With_String" style="document" />
      <wsdl:input name="Post_With_String">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Post_With_String">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostW">
      <soap:operation soapAction="http://www.syspro.com/ns/transaction/Post_With_ByteArray" style="document" />
      <wsdl:input name="Post_With_ByteArray">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Post_With_ByteArray">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="transactionclassSoap12" type="tns:transactionclassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Build">
      <soap12:operation soapAction="http://www.syspro.com/ns/transaction/Build_With_String" style="document" />
      <wsdl:input name="Build_With_String">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Build_With_String">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildW">
      <soap12:operation soapAction="http://www.syspro.com/ns/transaction/Build_With_ByteArray" style="document" />
      <wsdl:input name="Build_With_ByteArray">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Build_With_ByteArray">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post">
      <soap12:operation soapAction="http://www.syspro.com/ns/transaction/Post_With_String" style="document" />
      <wsdl:input name="Post_With_String">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Post_With_String">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostW">
      <soap12:operation soapAction="http://www.syspro.com/ns/transaction/Post_With_ByteArray" style="document" />
      <wsdl:input name="Post_With_ByteArray">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Post_With_ByteArray">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="transactionclass">
    <wsdl:port name="transactionclassSoap" binding="tns:transactionclassSoap">
      <soap:address location="http://localhost/SYSPROWebServices/transaction.asmx" />
    </wsdl:port>
    <wsdl:port name="transactionclassSoap12" binding="tns:transactionclassSoap12">
      <soap12:address location="http://localhost/SYSPROWebServices/transaction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>